{{ $js_dep := slice ( resources.Get "vendor/node_modules/jquery/dist/jquery.js" ) }}
{{ $js_dep = $js_dep | append ( resources.Get "vendor/node_modules/tether/dist/js/tether.js" ) }}
{{ $js_dep = $js_dep | append ( resources.Get "vendor/node_modules/bootstrap/dist/js/bootstrap.js" ) }}
{{ $js_dep = $js_dep | append ( resources.Get "vendor/node_modules/jssocials/dist/jssocials.js" ) }}
{{ $js_dep = $js_dep | append ( resources.Get "vendor/node_modules/mediaelement/build/mediaelement-and-player.js" ) }}
{{ $js_dep = $js_dep | append ( resources.Get "vendor/node_modules/@fortawesome/fontawesome-free/js/all.js" ) }}
{{ $js := $js_dep | resources.Concat "js/bundle.js" | fingerprint }}

<script type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

{{ $playercss := resources.Get "vendor/node_modules/mediaelement/build/mediaelementplayer.min.css" }}
<link rel="stylesheet" href="{{ $playercss.RelPermalink }}" />

<script>
    $("#share").jsSocials({
        shares: [
      {
        share: "facebook",
        logo: "fab fa-facebook",
      },
      {
        share: "twitter",           // name of share
        label: "Tweet",             // share button text (optional)
        logo: "fab fa-twitter",
        {{ if (isset .Site.Params.social "twitter" )}}
          via: "{{ .Site.Params.social.twitter }}",       // custom twitter sharing param 'via' (optional)
        {{ end }}
        url: "{{ .Params.permalink }}",
        text: "{{ title .Title }}"
      },
      {
        share: "linkedin",
        logo: "fab fa-linkedin"
      },
      {
        share: "pinterest",
        logo: "fab fa-pinterest"
      }
    ],
    });
</script>

{{ template "_internal/google_analytics_async.html" . }}
